<a href="https://colab.research.google.com/github/arnav-116/python-for-data-science/blob/main/Copy_of_datascience03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
temps_celsius = np.array([15.2, 16.8, 20.1, 25.3, 30.5, 33.0, 32.8, 31.4, 28.0, 23.5, 18.2, 16.0])
months = np.array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

In [ ]:
df = pd.DataFrame({
    'Month': months,
    'Temp_C': temps_celsius
})

In [ ]:
average_temp = df['Temp_C'].mean()

In [ ]:
hottest_month = df.loc[df['Temp_C'].idxmax()]
coldest_month = df.loc[df['Temp_C'].idxmin()]

In [ ]:
df['Normalized'] = (df['Temp_C'] - df['Temp_C'].min()) / (df['Temp_C'].max() - df['Temp_C'].min())

In [ ]:
df['Temp_F'] = df['Temp_C'] * 9/5 + 32

In [ ]:
df['Above_Avg'] = df['Temp_C'] > average_temp

In [ ]:
print("ðŸ“Š Temperature Metrics")
print(f"Average Temperature: {average_temp:.2f}Â°C")
print(f"Hottest Month: {hottest_month['Month']} ({hottest_month['Temp_C']}Â°C)")
print(f"Coldest Month: {coldest_month['Month']} ({coldest_month['Temp_C']}Â°C)")
print("\nðŸ“‹ Full Data Table:")
print(df)

ðŸ“Š Temperature Metrics
Average Temperature: 24.23Â°C
Hottest Month: Jun (33.0Â°C)
Coldest Month: Jan (15.2Â°C)

ðŸ“‹ Full Data Table:
   Month  Temp_C  Normalized  Temp_F  Above_Avg
0    Jan    15.2    0.000000   59.36      False
1    Feb    16.8    0.089888   62.24      False
2    Mar    20.1    0.275281   68.18      False
3    Apr    25.3    0.567416   77.54       True
4    May    30.5    0.859551   86.90       True
5    Jun    33.0    1.000000   91.40       True
6    Jul    32.8    0.988764   91.04       True
7    Aug    31.4    0.910112   88.52       True
8    Sep    28.0    0.719101   82.40       True
9    Oct    23.5    0.466292   74.30      False
10   Nov    18.2    0.168539   64.76      False
11   Dec    16.0    0.044944   60.80      False